.App-Main {
  display: flex;
  flex-direction: column;
}

/*  ----- Header -----  */
.Header-Main {
  background-color: #ab2a19;
  height: 50px;
  width: 100vw;
  font-weight: bolder;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.header-image {
  height: 30px;
  padding: 10px;
}

/*  ----- main contains Form and Header -----  */
.main-container {
  display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
}


/*  ----- Form -----  */
.Form-Main {
  background-color: #3AD886;
  height: 500px;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.form-top-toggle-container {
  width: 90%;
  background-color: whitesmoke;
}

.form-toggle-buttons {
  width: 50%;
  background-color: #3AD886;
  margin: 0;
  border-bottom: none;
}

.image-container {
  height: 220px;
  width: 90%;
  background-color: white;
  margin-top: 0;
  /* --- for Children ---- */
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-image {
  height: 100%;
  width: 350px;
  background-image: url("./blankimage.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.form-input-container {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label, .form-input {
  /* border: 1px solid white; */
  width: 90%;
}



/*  ----- Dashboard -----  */
.Dashboard-Main {
  /* background-color: orange; */
  height: auto;
  width: calc(100vw - 500px);
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.dash-refresh-button-container {
  width: 90%;
  display: flex;
  justify-content: center;
}



/*  ----- Product Card -----  */
.Product-Main {
  background-color: #ab2a19;
  font-size: larger;
  font-weight: bolder;
  border-radius: 5%;
  margin: 10px;
  height: 150px;
  width: 400px;
  display: flex;
}

.card-image-container {
  height: 100%;
  width: 50%;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  object-fit: scale;
}


.card-button-container {
  margin-top: 60px;
  width: 180px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  background-color: #3AD886;
  height: 20px;
  border: none;
  border-radius: 10%;
}

@media screen and (max-width: 1000px) {
  .header-container {
    width: 500px;
  }
}